html, body{
	height: 100%;
    background-color: #e2d1d0;
    line-height: 28px;
}

body {
    display: flex;
    flex-direction: column;
}

h1, p, a {
    font-family: 'Noto Serif KR', sans-serif;
}


#header {
    
}

.iconsBox, .memberimgbox{
    flex: 1 0 40%;
    max-width: 40%;
    margin: 5px;
}

.iconsBox2 {
    flex: 1 1 40px;
}

.iconsBox2 img {
    max-height: 40px;
}

.member {
    display: flex;
    margin: 5px;
    background-color: white;
}

#calendar {
    padding: 5px;
    background-color: white;
}

#board {
}

.iconsBox img, #titleBox img, .memberimgbox img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    min-width: 100%;
    cursor: pointer;
}

.boardName{
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
}

top {
    padding-top: 0px;
}

#contactBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#imageback {
    background-color: white;
    background-image: url(../images/ornella-binni-114183-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

#imageback2 {
    background-color: #e2d1d0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;}

#home {
    background-color: rgb(255,255,255,.8);
/*    margin: 40px;*/
    flex: 1 0 auto;
    margin: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home2 {
/*    margin: 40px;*/
    flex: 1 0 auto;
    margin: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home h1, #home2 h1{
    font-weight: 700;
    font-size: 30px;
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
    color: #d3466c;
}

.sectitle {
    padding-top: 20px;
}

#frontTitle, #frontTitle3 {
    margin-bottom: 20px;
}

#home p, #home2 p {
    font-size: 20px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #d3466c;
}

#main {
    display: flex;
    flex-direction: column;
}

#main a {
    color: #d3466c;
}

#main a:hover {
    color: #e67291;
}

#contactus {
    width: 100%;
    background-color: #d3466c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#contactus h1 {
    color: white;
    font-size: 20px;
}

#subtitle {
    text-align: center;
}

#openMenuIcon, #closeMenuIcon {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
}


#titleBox {
    flex: 0 1 auto;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

#navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
    flex: 0 1 auto;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    padding: 0px 0px;
    transition: top .3s;
    background-color: #d3466c;
    position: absolute;
    top: -100%;
/*    display: none;  NEW */
}

#closeMenuIcon {
    display: none;
    z-index: 101;
}

#navbar a {
	color: pink;
    text-decoration: none;
    flex: 0 0 auto;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 25px;
    padding: 5px 0px;
}

#Facebook:hover {
    background-image: url(../images/Icons/icons8-facebook-50hover.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#Instagram:hover {
    background-image: url(../images/Icons/icons8-instagram-50hover.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#GitHub:hover {
    background-image: url(../images/Icons/github%20iconhover.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#navbar a:hover, #navbar a.active {
    color: white;
    font-weight: 700;
/*    background-color: rgb(0,0,0,.5);*/
}

.member:hover {
    background-color: #e6f2ff;
}

.member {
    border: 1px solid grey;
}

#navbar2 {
    display: none;
}

#frontTitle2 {
    display: none;
}

#frontTitle {
    display: block;
}

#home2 #board p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: grey;
    text-align: left;
}

#home2 #board .boardName {
    color: black
}

@media screen and (min-width: 600px) {
    #frontTitle, #frontTitle2, #frontTitle3 {
        max-width: 500px;
    }
    
    #home, #home2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    
    #contactus {
        background-color: transparent;
    }
    
    #contactus h1 {
                color: #d3466c;

    }
    
    #openMenuIcon {
        display: none;
    }
    
    #navbar2 {
        display: flex;
    }
    
    #navbar2 {
        width: 100%;
        z-index: 100;
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px 0px;
        margin-bottom: 40px;
    }

    #navbar2 a {
        color: #d3466c;
        text-decoration: none;
        flex: 0 0 auto;
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: 400;
        padding: 5px 20px;
        border-bottom: solid #d3466c;
    }
    
    #navbar2 a.active {
        font-weight: 700;
        border-bottom: solid #a52748;
    }
    
    #navbar2 a:hover, #navbar2 a.active {
        color: #a52748;

    }
    
    #navbar2 a:hover{
        border-bottom: solid white;
    }
    
    
    
    #frontTitle2 {
        display: block;
        margin-right: 50px;
    }
    
    #frontTitle {
        display: none;
    }
    #board {
        display: flex;
        flex-direction: row;
    }
    
    .boardCol {
        flex: 1 0 30%;
    }
    
    #imageback {
    }
    
    /* RESIZE ALL FONTS FOR DESKTOP*/
    
    h2 {
        font-size: 35px;
    }
    
    #home h1, #home2 h1{
        font-size: 30px;
    }
    
    #home p, #home2 p {
        font-size: 20px;
    }
    
    #contactus h1 {
        font-size: 25px;
    }
    
    #navbar a {
        font-size: 25px;
    }
    
    #navbar2 a {
        font-size: 25px;
    }
}